<div class="container">
  <div class="card mb-3">
    <% @problems.each do |problem| %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to problem.title, problem_path(problem) %></h5>
      <p class="card-text"><%= problem.description %></p>
      <p class="card-text"><small class="text-muted"><%= problem.user.name %></small></p>
    </div>
    <% end %>
  </div>

  <%= link_to "Back to homepage", root_path %>
  <%= link_to "Dashboard", dashboard_path %>
</div>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-4 bg-light border p-4 rounded shadow-sm">
      <div class="row">
        <div class="col-md-6">
          <img src="" alt="" class="rounded img-category">
        </div>
        <div class="col-md-6 d-flex align-items-end flex-column">
          <img src="" alt="" class="rounded-circle avatar-medium">
          <p class="mb-0">nom prenom</p>
          <p class="mb-0"> date de création</p>
        </div>
        <div class="col-md-12 p-4">
          <h5 class="text-uppercase font-weight-normal mb-0">category</h5>
        </div>
        <div class="col-md-12 border-top border-bottom p-4">
          <p class="mb-0 bold font-weight-bold">Title</p>
        </div>
        <div class="col-md-12 p-4">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At eos, numquam, explicabo reiciendis nulla adipisci obcaecati aperiam quo aliquid nisi impedit veniam similique. Id, quod similique dolores laborum ut veritatis.</p>
        </div>
        <div class="col-md-12 d-flex align-items-center justify-content-between">
           <div class="col-md-4 p-4"> 138 votes </div>
           <a href="" class="col-md-8 rounded-border btn btn-warning text-light">Up to vote</a> 
        </div>
      </div>
    </div>
  </div>
</div>
  