<div class="container-fluid container_with_mb">
  <div class="row">
    <div class="col-md-6">
      <div class="solution-main-title">
        <h3 class="solution-title mb-1 pl-5 pt-2">Problem .</h3>
      </div>
      <div class="pb-card w-100 bg-white">
        <div class="d-flex justify-content-between">
          <%= cl_image_tag(@problem.category.img_url, width: 80, height: 80, crop: :fill, class:"pb-card-category position-relative")%>
          <div class="pb-card-user">

            <% if @problem.user.photo.nil? %>
              <%= image_tag("User", size: "50x50", alt: "user") %>
            <% else %>
              <%= cl_image_tag @problem.user.photo.url, height: 50, width: 50, crop: :thumb, gravity: :face, class:"avatar" %>

            <% end %>
            <p><%= @problem.user.name %></p>
            <p><%= @problem.created_at.strftime('%d %b %Y')%></p>
          </div>
        </div>
        <h4><%= @problem.category.name.upcase %></h4>

        <h3><%= link_to @problem.title, problem_path(@problem) %></h3>
        <p><%= @problem.description %></p>
        <div class="d-flex justify-content-between align-items-center pt-5">
          <div class="pb-card-votes"> <%= pluralize(@problem.problem_votes_count, "vote") %>
          </div>
          <%= button_to(problem_votes_path, class:"rounded-border btn btn-warning text-light") do %>
          <%= hidden_field_tag 'problem_id', @problem.id %>
          +1 UP TO VOTE
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
       <div class="col-sm-12 mb-1 pt-2">
        <div class="solution-main-title">
          <h3 class="solution-title">Solutions .</h3>
        </div>
      </div>
    </div>
    <% @problem.solutions.each do |solution| %>
    <div class="container mt-3 mb-1 mr-5">
      <div class="card-solution bg-white pl-4 pr-4">
        <div class="row">
          <div class="col-sm-3 mb-1 pl-5 pt-3">
            <div class="card-solution-avatar">

              <% if solution.user.photo.nil? %>
                <%= image_tag("User", size: "50x50", alt: "user") %>
               <% else %>
                <%= cl_image_tag solution.user.photo, height: 50, width: 50, crop: :thumb, gravity: :face, class:"avatar" %>
              <% end %>
            </div>
          </div>
          <div class="col-sm-4 pl-0 pt-4">
            <div class="card-solution-profile">
              <h4 class="card-entrepreneur-solution"><%= solution.user.name %></h4>
              <p class="date-post-solution"><%= solution.created_at.strftime('%d %b %Y')%></p>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="btn-group p-3 d-flex justify-content-end mt-3">
              <a href="" class="rounded-border btn btn-outline-secondary "><%= pluralize(solution.solution_votes_count, "vote") %></a>
              <%= link_to(solution_votes_path(solution_id: solution.id), class:"rounded-border btn btn-outline-secondary", method: :post) do %>
              <span class="btn-without-border">UPVOTE</span>
              <% end %>
            </div>
          </div>
          <div class="col-sm-12 mt-3">
            <div class="card-solution-description d-flex">
              <h3 class="card-solution-title pl-5 pr-5"><%= solution.title %></h3>
            </div>
          </div>
          <div class="col-sm-12 pl-5 pr-5">
            <div id="target">
              <p><span>FOR: </span><%= solution.target %></p>
            </div>
            <div class="visible-scrollbar">
              <p><%= solution.description %></p>
            </div>
            </div>
            <div class="col-sm-12 mt-1 ml-1 pl-4 pb-1">
              <div class="card-solution-description ">
                <%= link_to 'More details...', solution_path(solution) %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="col-12 d-flex justify-content-center mt-3">
        <%= link_to(new_problem_solution_path(@problem), class:"rounded-border btn btn-outline-warning") do %>
        Add a solution
        <% end %>
      </div>
    </div>
  </div>
</div>
