<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active text-secondary" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My profile</a>
    </li>
    <li class="nav-item text-secondary">
      <a class="nav-link text-secondary" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My issues</a>
    </li>
    <li class="nav-item text-secondary">
      <a class="nav-link text-secondary" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">My ideas</a>
    </li>
  </ul>

  <div class="tab-content mt-5 mb-5" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="col-sm-12 text-center">
        <h3> WELCOME <%= current_user.name.upcase %> ! </h3>
      </div>

      <div class="col-sm-5">
        <div class="card-profile-entrepreneur text-center mr-5 p-5 mt-4 position-absolute" >
          <div class="avatar-large text-center position-relative">
            <% if current_user.photo.url.nil? %>
              <%= image_tag "user.png", height: 200, width: 200, class:"avatar" %>
            <% else %>
              <%= cl_image_tag current_user.photo.url, height: 200, width: 200, crop: :fill, class:"avatar" %>
            <% end %>
          </div>
          <h3 class="card-profile-name mt-4 mb-4"><%= current_user.name %></h3>
          <div class="btn-underline-yellow-black text-center">
            <%= link_to "Change your password", edit_user_registration_path, class:"btn-underline-yellow-black"%>
          </div>
          <br>
          <div class="btn-underline-yellow-black text-center">
            <%= link_to "Delete my account", edit_user_registration_path %>
          </div>
        </div>
      </div>
    </div>

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <% if @problems.empty? %>
      <p>Share with us your problems, someone will find you a great solution!</p>
        <%= link_to(problems_path, class:"rounded-border btn btn-warning text-light") do %>
          Start now
      <% end %>
    <% else %>
      <div class="row">
      <% @problems.each do |problem| %>
      <div class="col-md-4">
        <%= link_to(problem_path(problem)) do %>
          <div class="pb-card w-100 bg-white h-95 hovering">
          <%= render 'shared/problem_card', problem: problem %>
          </div>

        <% end %>
      </div>
      <% end %>
    </div>
      <% end %>
    </div>

    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <% if @solutions.empty? %>
        <p>Join the community and share a solution!</p>
        <%= link_to(problems_path, class:"rounded-border btn btn-warning text-light") do %>
          Find a solution
        <% end %>
      <% else %>

       <% @solutions.each do |solution| %>
          <div class="container mt-3 mb-1 mr-5">
            <div class="card-solution">
              <div class="row">
                <div class="col-sm-4 mb-1 pl-5 pt-3">
                  <div class="card-solution-avatar">
                    <% if solution.user.photo.nil? %>
                      <%= image_tag("User", size: "50x50", alt: "user") %>
                    <% else %>
                      <%= cl_image_tag solution.user.photo.url, height: 50, width: 50, crop: :thumb, gravity: :face, class:"avatar" %>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-4 pl-3 pt-4">
                  <div class="card-solution-profile">
                    <h4 class="card-entrepreneur-solution"><%= solution.user.name %></h4>
                    <p class="date-post-solution"><%= solution.created_at.strftime('%d %b %Y')%></p>
                  </div>
                </div>
                <div class="col-sm-4 pl-5">
                  <div class="btn-group p-3">
                    <a href="" class="rounded-border btn btn-outline-secondary "><%= pluralize(solution.solution_votes_count, "vote") %></a>
                    <a href="" class="rounded-border btn btn-outline-secondary"><%= button_to solution_votes_path do %>
                      <%= hidden_field_tag 'solution_id', solution.id %>
                      <span class="btn-without-border">+1</span>
                      <% end %></a>
                    </div>
                  </div>
                  <div class="col-sm-12 mt-3 ml-1 pl-4">
                    <div class="card-solution-description">
                      <h3 class="card-solution-underlined-title"><%= solution.title %></h3>
                    </div>
                  </div>
                  <div class="col-sm-12 pl-4">
                    <div class="visible-scrollbar">
                      <p><%= solution.description %></p>
                    </div>
                  </div>
                  <div class="col-sm-12 mt-1 ml-1 pl-4 pb-1 mb-4">
                    <div class="card-solution-description ">
                      <%= link_to 'More details...', solution_path(solution) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      <% end %>
          </div>
    </div>

<div class="container">
  <div class="col-sm-12 text-center">
    <div class="btn-underline-yellow-black mt-5 text-center">
      <%= link_to "Back to homepage", root_path %>
    </div>
    <div class="btn-underline-yellow-black mt-2 text-center">
      <%= link_to "Read the problems", problems_path %>
    </div>
  </div>
</div>
</div>
</div>
</div>


