<div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(https://static1.squarespace.com/static/58323011e6f2e12eebd6f834/58e561056b8f5bd081db2cd8/59bc0fbd8a02c75c5c15deb2/1505497076722/Plasma+Dolphin.jpg?format=1000w);">
  <div class="container d-flex h-100 justify-content-between flex-column">
    <div class="text-container">
      <h1>Bring ideas to creative people...</h1>
    </div>
    <h2 class="ml14">
      <span class="text-wrapper">
        <%= link_to(problems_path, style:"text-decoration:none; color:white;") do %>
        <span class="letters">Explore now</span>
        <span class="line"></span>
        <% end %>
      </span>
    </h2>

    <section id="section04" class="demo">
      <a href="#carousel"><span></span></a>
    </section>
  </div>
</div>
<div class="container">
  <div id="carousel" class=" d-flex">
    <%= render 'shared/carousel' %>
    <div class="text-carousel p-3">
      <h3>Don't know where to start?</h3>
      <p>Here are some examples of projects that were completed with Blank.</p>
      <div class="example-carousel">
        <%= image_tag("kickstarter-logo.jpg", size: "100x100", alt: "kickstarter-logo") %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi illum porro beatae iure earum quod fuga.</p>
      </div>
      <div class="example-carousel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi illum porro beatae iure earum quod fuga.</p>
        <%= image_tag("Yuka.png", size: "100x50", alt: "yuka-logo") %>
      </div>
      <div class="example-carousel">
        <%= image_tag("woman-trip.png", size: "100x70", alt: "yuka-logo") %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi illum porro beatae iure earum quod fuga.</p>
      </div>
    </div>
  </div>
  <section id="section05" class="carousel-section pt-3">
    <a href="#homepage-cards"><span></span></a>
  </section>
</div>

<div class="wrapper" id="homepage-cards">
  <div class="container mt-5 mb-3">
    <div class="row">
      <% @problems.each do |problem| %>
      <div class="col-md-4">
        <div class="pb-card w-100 bg-white">
          <div class="d-flex justify-content-between">
            <%= cl_image_tag(problem.category.img_url, width: 80, height: 80, crop: :fill)%>
            <div class="pb-card-user">
              <button type="button" class="btn btn-lg btn-danger notification position-absolute" data-toggle="popover" data-placement="top" title="" data-content="Number of solutions"><%= problem.solutions.count %></button>
                <% if problem.user.photo.nil? %>
                  <%= image_tag("user.png", size: "50x50", alt: "user") %>
                <% else %>
                  <%= cl_image_tag problem.user.photo.url, height: 50, width: 50, crop: :thumb, gravity: :face, class:"avatar" %>
                <% end %>
              <p><%= problem.user.name %></p>
              <p><%= problem.created_at.strftime('%d %b %Y')%></p>
            </div>
          </div>
          <h4><%= problem.category.name.upcase %></h4>

          <h3><%= link_to problem.title, problem_path(problem) %></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, nesciunt minima temporibus blanditiis nulla porro aliquam voluptate, atque deserunt nostrum at. Mollitia non laudantium vel cupiditate nam, eveniet ab cum.
          </p>
          <div class="card-solution-description">
            <%= link_to 'More details...', problem_path(problem) %>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="pb-card-votes"> <%= pluralize(problem.problem_votes_count, "vote") %>
            </div>
              <%= button_to(problem_votes_path, class:"rounded-border btn btn-warning text-light") do %>
              <%= hidden_field_tag 'problem_id', problem.id %>
              +1 UPVOTE
            <% end %>
            </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="btn-underline-yellow-black mt-5 text-center">
    <%= link_to "List of problems", problems_path %>
  </div>
  <div class="btn-underline-yellow-black mt-2 text-center">
    <%= link_to "Dashboard", dashboard_path %>
  </div>
</div>


