<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1510936111840-65e151ad71bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1967&q=80);">
  <div class="container d-flex h-100 justify-content-between flex-column">
    <div class="text-container">
      <h1>Bring ideas to creative people...</h1>
    </div>
    <div class="chevron-container">
      <div class="btn-home-page"><%= link_to "Explore now", problems_path %></div>
      <a href="#"><i class="fas fa-chevron-down d-flex justify-content-center"></i></a>
    </div>
  </div>
</div>

<div class="container">
  <div class="card mb-3">
    <% @problems.each do |problem| %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to problem.title, problem_path(problem) %></h5>
      <p class="card-text"><%= problem.description %></p>
      <p class="card-text"><small class="text-muted"><%= problem.user.name %></small></p>
    </div>
    <% end %>
  </div>
  <%= link_to "List of problems", problems_path %>
  <%= link_to "Dashboard", dashboard_path %>
</div>

