<%= render 'banner' %>
<div class="container">
  <div id="carousel" class=" d-flex">
    <%= render 'shared/carousel' %>

  </div>
  <section id="section05" class="carousel-section pt-3">
    <a href="#homepage-cards"><span></span></a>
  </section>
</div>

<div class="wrapper" id="homepage-cards">
  <div class="container mt-5 mb-3">
    <div class="row">
      <% @problems.each do |problem| %>
      <div class="col-md-4">

        <%= link_to(problem_path(problem)) do %>
        <div class="pb-card w-100 bg-white h-95 hovering">

          <%= render 'shared/problem_card', problem: problem %>
        </div>
        <% end %>

      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="btn-underline-yellow-black mt-5 text-center">
    <%= link_to "List of problems", problems_path %>
  </div>
  <div class="btn-underline-yellow-black mt-2 text-center">
    <%= link_to "Dashboard", dashboard_path %>
  </div>
</div>


