<div class="container">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-md-6 form-container-solution p-5">
      <h1 class="mt-5 mb-3">Your solution.</h1>
      <%= simple_form_for [@problem, @solution] do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs mt-2 pr-5 pl-5">
        <%= f.input :title, label:"Give a title to your solution",
        input_html: { class:"h3 rounded-border" } %>
        <%= f.input :description,label:"Give us more details about your solution",
        input_html: { class:"h3 rounded-border" } %>
        <%= f.input :target, label:"Who is concerned by your solution?",
        input_html: { class:"h3 rounded-border" } %>
        <%= f.input :photo, label:"Don't hesitate to make it pretty!" %>
        <%= f.input :photo_cache, as: :hidden %>
        <div class="d-flex flex-column align-items-center mb-3">
        <%= f.button :submit, "Create solution!", class:"h2 btn-outline-warning rounded-border btn-lg mt-2 hover-white" %>
        <%= link_to "Cancel", problem_path(@problem), class:"btn btn-outline-secondary rounded-border mt-2 mb-3 hover-white" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


