<div class="container mt-3">
  <h3 class="title-project mt-5 mb-5 text-center">Contribute to the project and join a team !</h3>
  <ul class="nav nav-tabs mx-auto" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active text-secondary" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">All the projects</a>
    </li>
    <li class="nav-item text-secondary">
      <a class="nav-link text-secondary" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Most popular</a>
    </li>
  </ul>
  <div class="tab-content mt-5 mb-5" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row">
        <% @solutions.each do |solution| %>
        <div class="col-md-6">
          <div class="container mt-3 mb-1 mr-5">
            <div class="card-solution bg-white pl-4 pr-4 h-95">
              <div class="row">
                <div class="col-sm-3 mb-1 pl-5 pt-3">
                  <div class="card-solution-avatar">

                    <% if solution.user.photo.nil? %>
                    <%= image_tag("User", size: "50x50", alt: "user") %>
                    <% else %>
                    <%= cl_image_tag solution.user.photo, height: 50, width: 50, crop: :thumb, gravity: :face, class:"avatar" %>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-4 pl-0 pt-4">
                  <div class="card-solution-profile">
                    <h4 class="card-entrepreneur-solution"><%= solution.user.name %></h4>
                    <p class="date-post-solution"><%= solution.created_at.strftime('%d %b %Y')%></p>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="btn-group p-3 d-flex justify-content-end mt-3">
                    <a href="" class="rounded-border btn btn-outline-secondary "><%= pluralize(solution.solution_votes_count, "vote") %></a>
                    <%= link_to(solution_votes_path(solution_id: solution.id), class:"rounded-border btn btn-outline-secondary", method: :post) do %>
                    <span class="btn-without-border">UPVOTE</span>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-12 mt-3 mb-3">
                  <div class="card-s-description d-flex">
                    <h6 class="card-s-title pl-5 pr-5 mt-2"><%= solution.title %></h6>

                  </div>
                </div>
                <div class="visible-scrollbar">
                  <div class="solution-content col-12 pl-4 pr-4">
                    <div>
                      <p><span>FOR:</span><%= solution.target %></p>
                    </div>
                    <p><span>DESCRIPTION: </span><%= solution.description %></p>
                  </div>
                </div>
                <div class="col-sm-12 mt-1 ml-1 pl-4 pb-1">
                  <div class="btn-contribute p-3 ">
                    <%= link_to(solution_path(solution), class: "rounded-border btn btn-warning text-white hover-white") do %>
                     Contribute !
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <% end %>
      </div>
    </div>


    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="row">
        <% @solutions_popular.each do |solution_popular| %>
        <div class="col-md-6">
          <div class="container mt-3 mb-1 mr-5">
            <div class="card-solution bg-white pl-4 pr-4 h-95">
              <div class="row">
                <div class="col-sm-3 mb-1 pl-5 pt-3">
                  <div class="card-solution-avatar">

                    <% if solution_popular.user.photo.nil? %>
                    <%= image_tag("User", size: "50x50", alt: "user") %>
                    <% else %>
                    <%= cl_image_tag solution_popular.user.photo, height: 50, width: 50, crop: :thumb, gravity: :face, class:"avatar" %>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-4 pl-0 pt-4">
                  <div class="card-solution-profile">
                    <h4 class="card-entrepreneur-solution"><%= solution_popular.user.name %></h4>
                    <p class="date-post-solution"><%= solution_popular.created_at.strftime('%d %b %Y')%></p>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="btn-group p-3 d-flex justify-content-end mt-3">
                    <a href="" class="rounded-border btn btn-outline-secondary "><%= pluralize(solution_popular.solution_votes_count, "vote") %></a>
                    <%= link_to(solution_votes_path(solution_id: solution_popular.id), class:"rounded-border btn btn-outline-secondary", method: :post) do %>
                    <span class="btn-without-border">UPVOTE</span>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-12 mt-3 mb-3">
                  <div class="card-s-description d-flex">
                    <h6 class="card-s-title pl-5 pr-5 mt-2"><%= solution_popular.title %></h6>

                  </div>
                </div>
                <div class="visible-scrollbar">
                  <div class="solution-content col-12 pl-4 pr-4">
                    <div>
                      <p><span>FOR:</span><%= solution_popular.target %></p>
                    </div>
                    <p><span>DESCRIPTION: </span><%= solution_popular.description %></p>
                  </div>
                </div>
                <div class="col-sm-12 mt-1 ml-1 pl-4 pb-1">
                  <div class="card-solution-description p-3 ">
                    <%= link_to 'Contribute!', solution_path(solution_popular) %>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
