<div class="d-flex justify-content-center">
  <div class="container col-10">
    <div class="container-show-solution row d-flex justify-content-center mt-5 mb-5 bg-white">

      <div class="picture-solution col-6 d-flex justify-content-start">
        <% if !current_user.photo.nil? %>
        <%= image_tag("solution.jpg", class:"solution-photo", alt:"solution_img") %>
        <% else %>
        <%= cl_image_tag @solution.photo, crop: :fill, class:"solution-photo", alt:"solution_img" %>
        <% end %>
      </div>

      <div class="col-6 d-flex flex-column justify-content-start">

        <div class="card-profile-entrepreneur d-flex flex-row text-center mt-3 p-3 bg-white align-items-center">
          <div class="col-3 avatar-large text-center">
             <% if @solution.user.photo.nil? %>
                <%= image_tag("User", size: "50x50", alt: "user") %>
            <% else %>
              <%= cl_image_tag @solution.user.photo.url, height: 100, width: 100, crop: :thumb, gravity: :face, class:"avatar" %>

            <% end %>
          </div>
          <div class="solution-user-content col-9 d-flex flex-column">
            <h3><%= @solution.user.name %></h3>
            <p>User description</p>
          </div>
        </div>

        <div class="solution-content">
          <div class="main-title mt-4 mb-4">
            <h4><span>TITLE:</span><%= @solution.title %></h4>
          </div>
          <div class="target">
            <p><span>FOR:</span><%= @solution.target %></p>
          </div>
          <div>
            <p><span>DESCRIPTION:</span><%= @solution.description %></p>
          </div>
        </div>

      </div>

        <div class="card-number-votes">
          <h4> Number of votes : <%= @solution.solution_votes_count %></h4>
        </div>
      </div>

    <div class="col-12">
      <div class="btn-underline-yellow-black text-center">
        <%= link_to "> Back to need",problem_path(@solution.problem) %>
      </div>
      <div class="btn-underline-yellow-black mt-2 text-center">
        <%= link_to "> Back to needs list", problems_path %>
      </div>
    </div>
  </div>
</div>



