<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @solution.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @solution.user.name %></h6>
      <p class="card-text"><%= @solution.description %></p>

      <%= link_to 'Back to problem', problem_path(@solution.problem) %>
      <p></p>
      <%= link_to 'Back to problems list', problems_path %>
    </div>
  </div>
</div>
