<div class="container-show-solution d-flex justify-content-center">
  <div class="container col-10">
    <div class="row">

      <div class="col-sm-7">
        <div class="main-title mt-4 ml-5 mb-3">
          <h2><%= @solution.title %></h2>
        </div>
        <div class="main-title ml-5">
          <p><%= @solution.description %></p>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="card-profile-entrepreneur text-center mr-5 p-5 mt-4" >
          <div class="avatar-large"></div>
          <h3><%= @solution.user.name %></h3>
          <p><%= @solution.description %></p>
        </div>
      </div>

      <div class="col-sm-12 mt-5">
        <div class="card-number-votes">
          <h4> Number of votes : <%= @solution.solution_votes_count %></h4>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="stipe-donation-form">
          stripe donation form
        </div>
      </div>

      <div class="col-sm-12 ml-5">
        <div class="link-back-to-problem">
          <%= link_to " Back to problem", problem_path(@solution.problem) %>
        </div>
      </div>
      <div class="col-sm-12 ml-5">
        <div class="link-back-to-problems">
          <%= link_to ' Back to problems list', problems_path %>
        </div>
      </div>
    </div>


